<%= link_to product_path(product.id), class: 'product' do %>
    <%= image_tag product.photo, width: 100 if product.photo.attached? %>
        <p>
            <%= product.title%>
        </p>
        <% end %>